.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
HorrorGames/Assets/Aseets/SkyBox/Space Skybox/SpaceSkyboxes4K.unitypackage
HorrorGames/Assets/AssetDatas/ARPGPack/ARPGSamurai/Animations/Generic/ARPG_Samurai.fbx
HorrorGames/Assets/AssetDatas/StylizedDragonPack/Meshes/Dragon.fbx
/HorrorGames/Assets/AssetDatas/P09_Modular_Humanoid/Model_DATA/Textures
